<div  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="card-title " id="exampleModalLabel">Formulario para la creación de una nueva Orden de Trabajo</h1>
        </div>

        <div class="modal-body">
          <div class="card">
            <div class="card-body">

            <h5 class="card-title">Registro de Entrada</h5>
            <h5 class="card-title">Orden No. OT1234</h5>
            <div class="row mb-3">
                <label for="inputDate" class="col-sm-2 col-form-label">Fecha de Ingreso</label>
                <div class="col-md-4">
                  <input type="date" class="form-control">
                </div>
            </div>
                

              <h5 class="card-title">Datos del Cliente</h5>
  
              <!-- Floating Labels Form -->
              <form class="row g-3">
                <div class="col-md-6">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="floatingText" placeholder="code">
                    <label for="floatingText">Primer Nombre</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-floating">
                    <input type="text" class="form-control" id="floatingText" placeholder="nameService">
                    <label for="floatingText">Segundo Nombre</label>
                  </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating">
                      <input type="text" class="form-control" id="floatingText" placeholder="nameService">
                      <label for="floatingText">Primer Apellido</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating">
                      <input type="text" class="form-control" id="floatingText" placeholder="nameService">
                      <label for="floatingText">Segundo Apellido</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating">
                      <input type="text" class="form-control" id="floatingText" placeholder="nameService">
                      <label for="floatingText">Número de Identificación</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating">
                      <input type="text" class="form-control" id="floatingText" placeholder="nameService">
                      <label for="floatingText">Dirección de Residencia</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating">
                      <input type="text" class="form-control" id="floatingText" placeholder="nameService">
                      <label for="floatingText">Teléfono</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating">
                      <input type="text" class="form-control" id="floatingText" placeholder="nameService">
                      <label for="floatingText">Correo Electrónico</label>
                    </div>
                </div>

                <h5 class="card-title">Datos del Vehículo</h5>

                <div class="col-md-6">
                    <div class="form-floating">
                      <input type="text" class="form-control" id="floatingText" placeholder="nameService">
                      <label for="floatingText">Marca de la Motocicleta</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating">
                      <input type="text" class="form-control" id="floatingText" placeholder="nameService">
                      <label for="floatingText">Referencia de la Motocicleta</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating">
                      <input type="text" class="form-control" id="floatingText" placeholder="nameService">
                      <label for="floatingText">Placa Motocicleta</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating">
                      <input type="text" class="form-control" id="floatingText" placeholder="nameService">
                      <label for="floatingText">Color</label>
                    </div>
                </div>

                <h5 class="card-title">Descripción del Servicio Solicitado</h5>    
                
                <div class="col-md-6">
                    <div class="form-floating">
                      <input type="text" class="form-control" id="floatingText" placeholder="nameService">
                      <label for="floatingText">Técnico Asignado</label>
                    </div>
                </div>

                <div class="col-12">
                  <div class="form-floating">
                    <textarea class="form-control" placeholder="Description" id="floatingTextarea"
                      style="height: 100px;"></textarea>
                    <label for="floatingTextarea">Descripción de las fallas del vehículo</label>
                  </div>
                </div>
                  
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Crear</button>
                  <button type="reset" class="btn btn-secondary">Limpiar Campos</button>
                </div>
              </form>
              <!--End floating Labels Form -->
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>