<div class="pagetitle">
  <h1>Dashboard</h1>
</div><!-- End Page Title -->

<section class="section dashboard">
  <div class="row">

    <!-- Left side columns -->
    <div class="col-lg-8">
      <div class="row">

        <app-counts-report></app-counts-report>

        <app-today-report></app-today-report>

        <app-services-report></app-services-report>

        <app-product-report></app-product-report>

      </div>
    </div><!-- End Left side columns -->

    <!-- Right side columns -->
    <div class="col-lg-4">

      <app-order-report></app-order-report>

      <app-month-report></app-month-report>

    </div><!-- End Right side columns -->

  </div>
</section>