<p>el formulario de ordenes de trabajo iria aqui</p>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Detalles Orden de Trabajo</h5>
        <section class="section profile">
            <div class="row">
                <div class="col-xl-6">
                    <div class="card">
                        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                            <h2>Orden de Trabajo No: OT1234</h2>
                            <h3>Suzuki AX-4/SJL-07D</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section profile">

            <div class="col-xl-12">

                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">

                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab"
                                    data-bs-target="#profile-overview">Información Cliente</button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab"
                                    data-bs-target="#certi-edit">Información Motocicleta</button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Editar
                                    Perfil</button>
                            </li>

                            

                        </ul>
                        <div class="tab-content pt-2">

                            <div class="tab-pane fade show active profile-overview" id="profile-overview">

                                <h5 class="card-title">Detalles del Perfil</h5>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Nombre Completo</div>
                                    <div class="col-lg-9 col-md-8">Carlos Torres</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Número de Identificación</div>
                                    <div class="col-lg-9 col-md-8">1085259576</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Cargo</div>
                                    <div class="col-lg-9 col-md-8">Desarrollador Front-End</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Lugar de Nacimiento</div>
                                    <div class="col-lg-9 col-md-8">Túquerres, Nariño</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Fecha de Nacimiento</div>
                                    <div class="col-lg-9 col-md-8">17 de Julio de 1987</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Dirección de Residencia</div>
                                    <div class="col-lg-9 col-md-8">Calle 12-b No. 4-22 B/El Pilar</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Teléfono</div>
                                    <div class="col-lg-9 col-md-8">3117018463</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Correo Electrónico</div>
                                    <div class="col-lg-9 col-md-8">escolta87@hotmail.com</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Tiempo de Experiencia</div>
                                    <div class="col-lg-9 col-md-8">20 años</div>
                                </div>

                            </div>

                            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                                <!-- Profile Edit Form -->
                                <form>
                                    <div class="row mb-3">
                                        <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Imagen de
                                            Perfil</label>
                                        <div class="col-md-8 col-lg-9">
                                            <img src="../../../../assets/assets/img/profile-img.jpg" alt="Profile">
                                            <div class="pt-2">
                                                <a href="#" class="btn btn-primary btn-sm"
                                                    title="Cargar nueva imagen de perfil"><i
                                                        class="bi bi-upload"></i></a>
                                                <a href="#" class="btn btn-danger btn-sm"
                                                    title="Quitar imagen de perfil"><i class="bi bi-trash"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Nombre
                                            Completo</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="fullName" type="text" class="form-control" id="fullName"
                                                value="Carlos Torres">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Número de
                                            Identificación</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="fullName" type="text" class="form-control" id="fullName"
                                                value="1085259576">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Job" class="col-md-4 col-lg-3 col-form-label">Cargo</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="job" type="text" class="form-control" id="Job"
                                                value="Desarrollador Front-End">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Email" class="col-md-4 col-lg-3 col-form-label">Correo
                                            Electrónico</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="email" type="email" class="form-control" id="Email"
                                                value="escolta87@hotmail.com">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Teléfono</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="phone" type="text" class="form-control" id="Phone"
                                                value="3117018463">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Address" class="col-md-4 col-lg-3 col-form-label">Dirección de
                                            Residencia</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="address" type="text" class="form-control" id="Address"
                                                value="Calle 12-b No. 4-22 B/El Pilar">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Country" class="col-md-4 col-lg-3 col-form-label">Lugar de
                                            Nacimiento</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="country" type="text" class="form-control" id="Country"
                                                value="Tuquerres">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Country" class="col-md-4 col-lg-3 col-form-label">Fecha de
                                            Nacimiento</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="country" type="text" class="form-control" id="Country"
                                                value="17 de Julio de 1987">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="Twitter" class="col-md-4 col-lg-3 col-form-label">Tiempo de
                                            Experiencia</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="twitter" type="text" class="form-control" id="Twitter"
                                                value="20 años">
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                                    </div>
                                </form><!-- End Profile Edit Form -->

                            </div>

                            <!--Modal Add-->
                            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Formulario para la
                                                edición de una Certificación</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h5 class="card-title">Editar Certificación</h5>

                                                    <!-- Floating Labels Form -->
                                                    <form class="row g-3">
                                                        <div class="col-md-12">
                                                            <div class="form-floating">
                                                                <input type="text" class="form-control"
                                                                    id="floatingText" placeholder="code">
                                                                <label for="floatingText">Nombre de la
                                                                    Certificación</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-floating">
                                                                <input type="text" class="form-control"
                                                                    id="floatingText" placeholder="code">
                                                                <label for="floatingText">Intensidad Horaria</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="form-floating">
                                                                <input type="text" class="form-control"
                                                                    id="floatingText" placeholder="code">
                                                                <label for="floatingText">Institución</label>
                                                            </div>
                                                        </div>

                                                        <div class="col-12">
                                                            <div class="form-floating">
                                                                <input type="text" class="form-control"
                                                                    id="floatingText" placeholder="code">
                                                                <label for="floatingText">Año</label>
                                                            </div>
                                                        </div>

                                                        <div class="text-center">
                                                            <button type="submit"
                                                                class="btn btn-primary">Actualizar</button>
                                                            <button type="reset" class="btn btn-secondary">Limpiar
                                                                Campos</button>
                                                        </div>
                                                    </form>
                                                    <!--End floating Labels Form -->

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!--Modal Created-->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Formulario para la
                                                creación de una certificación</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h5 class="card-title">Crear Certificación</h5>

                                                    <!-- Floating Labels Form -->
                                                    <form class="row g-3">
                                                        <div class="col-md-12">
                                                            <div class="form-floating">
                                                                <input type="text" class="form-control"
                                                                    id="floatingText" placeholder="code">
                                                                <label for="floatingText">Nombre de la
                                                                    Certificación</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-floating">
                                                                <input type="text" class="form-control"
                                                                    id="floatingText" placeholder="code">
                                                                <label for="floatingText">Intensidad Horaria</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="form-floating">
                                                                <input type="text" class="form-control"
                                                                    id="floatingText" placeholder="code">
                                                                <label for="floatingText">Institución</label>
                                                            </div>
                                                        </div>

                                                        <div class="col-12">
                                                            <div class="form-floating">
                                                                <input type="text" class="form-control"
                                                                    id="floatingText" placeholder="code">
                                                                <label for="floatingText">Año</label>
                                                            </div>
                                                        </div>

                                                        <div class="text-center">
                                                            <button type="submit" class="btn btn-primary">Crear</button>
                                                            <button type="reset" class="btn btn-secondary">Limpiar
                                                                Campos</button>
                                                        </div>
                                                    </form>
                                                    <!--End floating Labels Form -->

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!--Modal View Certificated-->
                            <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Vista de Certificación
                                                Seleccionada</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h5 class="card-title">Imagen de Certificación</h5>



                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!--Table -->
                            <div class="tab-pane fade cert-edit pt-3" id="certi-edit">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Certificación</th>
                                            <th scope="col">Intensidad en horas</th>
                                            <th scope="col">Institución</th>
                                            <th scope="col">Año</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Mecánica de Motos</td>
                                            <td>470 horas</td>
                                            <td>Coorporación Univeristaria Autonoma de Nariño</td>
                                            <td>2011</td>
                                            <td><button type="button" title="Eliminar registro"
                                                    class="btn btn-danger"><i class="bi bi-trash"></i></button></td>
                                            <td><button type="button" title="Editar Registro" class="btn btn-info"
                                                    data-bs-toggle="modal" data-bs-target="#exampleModal2"><i
                                                        class="bi bi-pencil-fill"></i></button></td>
                                            <td><button type="button" title="Ver Certificación" class="btn btn-info" data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal3"><i class="bi bi-eye-fill"></i></button></td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div class="text-center">
                                    <button type="button" title="Agregar Nueva Certificación" class="btn btn-primary"
                                        data-bs-toggle="modal" data-bs-target="#exampleModal"> + Nueva Certificación</button>
                                </div>
                            </div>
                        </div><!-- End Bordered Tabs -->
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>