
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Detalles Orden de Trabajo</h5>
        <section class="section profile">
            <div class="row">
                <div class="col-xl-6">
                    <div class="card">
                        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                            <h2>Orden de Trabajo No: OT1234</h2>
                            <h3>Suzuki AX-4/SJL-07D</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section profile">

            <div class="col-xl-12">

                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">

                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab"
                                    data-bs-target="#profile-overview">Información Cliente</button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#certi-edit">Información Motocicleta</button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#work-order">Detalle Orden de Trabajo</button>
                            </li>
                        </ul>

                        <div class="tab-content pt-2">

                            <!-- Info Client -->
                            <div class="tab-pane fade show active profile-overview" id="profile-overview">

                                <h5 class="card-title">Información del Cliente</h5>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Nombre Completo</div>
                                    <div class="col-lg-9 col-md-8">Carlos Torres</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Número de Identificación</div>
                                    <div class="col-lg-9 col-md-8">1085259576</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Dirección de Residencia</div>
                                    <div class="col-lg-9 col-md-8">Calle 12-b No. 4-22 B/El Pilar</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Teléfono</div>
                                    <div class="col-lg-9 col-md-8">3117018463</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Correo Electrónico</div>
                                    <div class="col-lg-9 col-md-8">escolta87@hotmail.com</div>
                                </div>
                            </div>

                            <!--Info motorcycle -->
                            <div class="tab-pane fade show profile-overview" id="certi-edit">
                                <h5 class="card-title">Información de la Motocicleta </h5>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Marca de la Motocicleta</div>
                                    <div class="col-lg-9 col-md-8">Suzuki</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Referencia de la Motocicleta</div>
                                    <div class="col-lg-9 col-md-8">AX-4</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Placa Motocicleta</div>
                                    <div class="col-lg-9 col-md-8">SJL-07D</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Color Motocicleta</div>
                                    <div class="col-lg-9 col-md-8">Negro</div>
                                </div>
                            </div>

                            <!-- Info Work-order -->
                            <div class="tab-pane fade show profile-overview" id="work-order">
                                <h5 class="card-title">Información de la orden de Trabajo</h5>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Número de Orden</div>
                                    <div class="col-lg-9 col-md-8">OT1234</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Técnico Asignado</div>
                                    <div class="col-lg-9 col-md-8">Daniel Reina</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Trabajo a Realizar</div>
                                    <div class="col-lg-9 col-md-8">Sincronización-Demasiado consumo de gasolina</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Estado de la Orden de Trabajo</div>
                                    <div class="col-lg-9 col-md-8">Terminada</div>
                                </div>
                            </div>
                        </div><!-- End Bordered Tabs -->
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>