<div class="pagetitle">
    <h1>Técnicos</h1>
</div><!-- End Page Title -->
  
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">
    Crear Nuevo Técnico
</button>

<!--Modal Created Technician-->
<div class="modal fade" id="exampleModal2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Formulario para la
                creación de un Técnico</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Crear Técnico</h5>

                    <!-- Floating Labels Form -->
                    <form class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control"
                                    id="floatingText" placeholder="code">
                                <label for="floatingText">Primer Nombre</label>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control"
                                    id="floatingText" placeholder="code">
                                <label for="floatingText">Segundo Nombre</label>
                            </div>
                        </div>
                        
                        <div class="col-6">
                            <div class="form-floating">
                                <input type="text" class="form-control"
                                    id="floatingText" placeholder="code">
                                <label for="floatingText">Primer Apellido</label>
                            </div>
                        </div>
                        
                        <div class="col-6">
                            <div class="form-floating">
                                <input type="text" class="form-control"
                                    id="floatingText" placeholder="code">
                                <label for="floatingText">Segundo Apellido</label>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" class="form-control"
                                    id="floatingText" placeholder="code">
                                <label for="floatingText">Número de Identificación</label>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-floating">
                                <input type="text" class="form-control"
                                    id="floatingText" placeholder="code">
                                <label for="floatingText">Correo Electrónico</label>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-floating">
                                <input type="text" class="form-control"
                                    id="floatingText" placeholder="code">
                                <label for="floatingText">Teléfono</label>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" class="form-control"
                                    id="floatingText" placeholder="code">
                                <label for="floatingText">Dirección Residencia</label>
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Crear</button>
                            <button type="reset" class="btn btn-secondary">Limpiar
                                Campos</button>
                        </div>
                    </form>
                    <!--End floating Labels Form -->

                </div>
            </div>
        </div>

    </div>
</div>
</div>


<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Técnico</th>
            <th scope="col">Email</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Dirección</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">TS1085259576</th>
            <td>Carlos Herney Torres Paredes</td>
            <td>escolta87@hotmail.com</td>
            <td>3117018463</td>
            <td>Cll 12b No. 4-56 B/Pilar</td>
            <td><button type="button" title="Eliminar registro" class="btn btn-danger"><i class="bi bi-trash"></i></button></td>
            <td><button type="button" title="Ver detalles" class="btn btn-info" routerLink="/full/technicians"><i class="bi bi-eye-fill"></i></button></td>
        </tr>
    </tbody>
</table>