<p>technicians works!</p>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">
    Crear Nuevo Técnico
</button>


<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Técnico</th>
            <th scope="col">Email</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Dirección</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">TE1234</th>
            <td>Carlos Herney Torres Paredes</td>
            <td>escolta87@hotmail.com</td>
            <td>3117018463</td>
            <td>Cll 12b No. 4-56 B/Pilar</td>
            <td><button type="button" title="Eliminar registro" class="btn btn-danger"><i class="bi bi-trash"></i></button></td>
            <td><button type="button" title="Ver detalles" class="btn btn-info" routerLink="/full/technicians"><i class="bi bi-eye-fill"></i></button></td>
        </tr>
    </tbody>
</table>